WCF_Form/Connected Services/ItemService/ItemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57064/ItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Exemplo.DataContracts" />
  <xs:element name="Pass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoBarras" type="xs:int" />
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PassResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoBarras" type="xs:int" />
        <xs:element minOccurs="0" name="IdProduto" type="xs:int" />
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoBarras" type="xs:int" />
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Exemplo.DataContracts" minOccurs="0" name="GetResult" nillable="true" type="q1:Produto" />
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProduto" type="xs:int" />
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Exemplo.DataContracts" minOccurs="0" name="FindResult" nillable="true" type="q2:ArrayOfItem" />
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>